<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loudoun County Property Search</title>
</head>
<body>
    <h1>Property Search</h1>
    <form action="/search" method="POST">
        <label for="number">Number:</label>
        <input type="text" id="number" name="number" required>
    
        <label for="street_name">Street Name:</label>
        <input type="text" id="street_name" name="street_name" required>
    
        <button type="submit">Search</button>
    </form>
    </body>
</html>
