<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Average Weather</title>
</head>
<body>
    <h1>Average Weather for Past Year</h1>
    <ul>
        {% for month, data in weather_data.items() %}
            <li>
                <strong>{{ month }}:</strong> 
                <ul>
                    <li>Avgerage Temperature/Day: {{ data.temp }}°F</li>
                    <li>Average Rain/Day: {{ data.rain }} in</li>
                    <li>Average Cloud Cover/Day: {{ data.cloud_cover }}</li>
                </ul>
            </li>
        {% endfor %}
    </ul>
    <br><br>
    <form action="/general_info" method="POST">
        <!-- Ensure that all fields required in general_info.html are passed correctly -->
        <input type="hidden" name="owner" value="{{ owner }}">
        <input type="hidden" name="mailing_address" value="{{ mailing_address }}">
        <input type="hidden" name="total_due" value="{{ total_due }}">
        <input type="hidden" name="calculated_value" value="{{ calculated_value }}">
        <input type="hidden" name="map_url" value="{{ map_url }}">
        <input type="hidden" name="street_view_url" value="{{ street_view_url }}">
        <button type="submit">Go back to General Info</button>
    </form>
    </body>
</html>
